body{
  margin: 0;
  padding: 0;
}

/*Global*/

.container{
  width: 80%;
  margin: auto;
  
}


a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Rubik;
  font-size: 1.25rem; 
  font-weight: 500;


}

h1,
h2{
  font-family: 'Anton', sans-serif;
  letter-spacing: 2.5px;
  color:#ffffff;
  font-size: 30px;
}

p{
  font-family: Rubik, "sans-serif";
  color:#ffffff;
  font-size: 40px;
  font-weight: 400;
  /*font-size: 30px;*/
}
  
/*Header*/

header{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: black;  
}
  
nav{
  display: flex;
  justify-content: space-between;
}

/*Banner*/

#banner{
  background-image: url(../IMAGES/BANNER3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  /*width: auto;*/
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

#banner h1{
  font-size: 150px;
  font-style: italic;
  text-transform: uppercase; 
}

#banner p{
  font-size: 60px;
  margin-top: -160px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2.5px;
}

/*Quote Section*/

#quote{
  display: flex;
  background-color: #a4b3b6;
  height: 200px;
  text-align: center;
}

#quote p{
  font-weight: 400;
  font-size: 30px;
}

/*Benefits Section*/

#benefits{
  background-color: #44318d;
  width: 100%;
  display: flex;
  padding-bottom: 80px;
}

#benefits .container{
  display: flex;  
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#benefits img{
  max-height: 100%;
  max-width:100%;
}

#benefits p{
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
}

.box {
  text-align: center;
}

/*Join Us Section*/

#join{
  background-color: black;
  display: flex;
  height: auto;
  padding-top: 30px;
  padding-bottom: 40px;
}

#join .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.joinpic img{
  margin-top: 40px;
  height:800px;
  width: 500px;
}

.joinmsg{
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2.5px;
}

/*Footer*/

footer{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5px; 
  background-color: #44318d;
}

footer p{
    font-size: 20px; 
    margin-left: 10px;  
}

/*Media Queries*/

@media screen and (max-width:768px){

  #banner h1{
    font-size: 100px;
    font-style: italic;
    text-transform: uppercase; 
    }

  #banner p{
    font-size: 50px;
    margin-top: -100px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2.5px;   
    }

  header nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items:center;
    height:auto;
    }

  header{
    height:150px;
  }

  a{
    margin-bottom: 8px;
  } 

  .container{
    width: 100%;
    margin: auto;
   }

  .joinpic img{
    margin-top: 40px;
    height:800px;
    width: 100%;
  }

  #join .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}